Modelo/checkpoints/*
!Modelo/checkpoints/.gitignore
Modelo\utils\__pycache__
Modelo\unet\__pycache__
Modelo/__pycache__
Modelo/arquivosProvisorios/*
!Modelo/arquivosProvisorios/.gitkeep
Servicos/__pycache__
test
avaliacao/mask/*
avaliacao/imgs/*
avaliacao/previsao/*
CriacaoDataset/__pycache__
preview/*
!preview/.gitkeep
Modelo/chunks/*
!Modelo/chunks/.gitkeep
CriacaoDataset\DataSet\anotacao\*
!CriacaoDataset\DataSet\anotacao\.gitkeep
CriacaoDataset\DataSet\feito\*
!CriacaoDataset\DataSet\feito\.gitkeep
CriacaoDataset\DataSet\imgs\*
!CriacaoDataset\DataSet\imgs\.gitkeep
CriacaoDataset\DataSet\originais\*
!CriacaoDataset\DataSet\originais\.gitkeep
